---
import { Icon } from 'astro-icon';


const items = [
{
  title: 'Self Chain', 
		description:
			'mainnet', 
    icon: '/img/selfchain.jpg',
		Link: 'https://sychonix.com/mainnet/selfchain',
    Link2: 'https://explorer.sychonix.com/selfchain-mainnet/staking/selfvaloper1sfnk4yqsvkpta82lfcfyas9txvv2lafdd5s6nv',
	},
  {
		title: 'Tangle Network',
		description:
			'mainnet',
      icon: '/img/tangle.png',
		Link: 'https://sychonix.com/mainnet/tangle',
    Link2: 'https://polkadot.js.org/apps/?rpc=wss://rpc.tangle.tools#/staking',
	},
  {
		title: 'Crossfi',
		description:
			'mainnet',
      icon: '/img/crossfi.jpg',
		Link: 'https://sychonix.com/mainnet/crossfi',
    Link2: 'https://explorer.sychonix.com/crossfi-mainnet/staking/mxvaloper1d4qanpsc3ettqm8x6uksccnjke5mvv5v7akeza',
	},
  {
		title: 'CNHO Stables',
		description:
			'mainnet',
      icon: '/img/cnho.png',
		Link: 'https://sychonix.com/mainnet/cnho',
    Link2: 'https://explorer.sychonix.com/cnho-mainnet/staking/cnhovaloper1ntq4fpumu3wl28leks6a0xln0r5xrmp27cf6ld',
	},
	{
		title: 'Avail',
		description:
			'testnet',
      icon: '/img/avail.png',
		Link: 'https://sychonix.com/testnet/avail',
    Link2: 'https://goldberg.avail.tools/#/staking',
  },
{
		title: 'Airchains',
		description:
			'testnet',
      icon: '/img/airchains.jpg',
		Link: 'https://sychonix.com/testnet/airchains',
    Link2: 'https://explorer.sychonix.com/airchains-testnet/staking/airvaloper1skxhd8y72faq4r99x8362ftum39hlaam2nc3gg',
  },
  {
		title: 'Chainflip',
		description:
			'testnet',
      icon: '/img/chainflip.png',
		Link: 'https://sychonix.com/testnet/chainflip/installation',
    Link2: 'https://blocks-perseverance.chainflip.io/validators/cFK3qrx1LJ1MdYNN3ogZTWbA2wkE9UAAUEoqyjMmd5Q9a1DLH',
  },
{
		title: 'Crossfi',
		description:
			'testnet',
      icon: '/img/crossfi.jpg',
		Link: 'https://sychonix.com/testnet/crossfi',
    Link2: 'https://explorer.sychonix.com/crossfi-testnet/staking/mxvaloper1rcr790l87p764ujj7qzcvxnnfru5rwf2fdd0td',
  },
  {
		title: 'Chasm',
		description:
			'testnet',
      icon: '/img/chasm.png',
		Link: 'https://sychonix.com/testnet/chasm',
    Link2: '#',
  },
  {
		title: 'Dill',
		description:
			'testnet',
      icon: '/img/dill.jpg',
		Link: 'https://sychonix.com/testnet/dill',
    Link2: 'https://alps.dill.xyz/validators?pubkey=0x80ca6ea4e7d278049932bd53d61561e7838e109d24624f0bfca3a212e95106c486a3981b72a1da6f0125e653adc39c7c',
  },
	{
		title: 'Empeiria',
		description:
			'testnet',
      icon: '/img/emped.jpg',
		Link: 'https://sychonix.com/testnet/empeiria',
    Link2: 'https://explorer.sychonix.com/empeiria-testnet/staking/empevaloper1g7u2rvuff7lx73eahtr2qsvngv6ptp2hedw2tt',
  },
	{
		title: 'fiamma',
		description:
			'testnet',
      icon: '/img/fiamma.jpg',
		Link: 'https://sychonix.com/testnet/fiamma',
    Link2: 'https://explorer.sychonix.com/fiamma-testnet/staking/fiammavaloper1rphrcstwchww45hgh24ld2nqlxdt20tzpu6hdx',
  },
	{
		title: 'GaiaNet',
		description:
			'testnet',
      icon: '/img/gaianet.jpeg',
		Link: 'https://sychonix.com/testnet/gaianet',
    Link2: '#',
  },
{
		title: 'Initia',
		description:
			'testnet',
      icon: '/img/initia.jpg',
		Link: 'https://sychonix.com/testnet/initia',
    Link2: '#',
  },
	{
		title: 'Nubit',
		description:
			'testnet',
      icon: '/img/nubit.jpg',
		Link: 'https://sychonix.com/testnet/nubit',
    Link2: '#',
  },
  {
		title: 'Prysm Network',
		description:
			'testnet',
      icon: '/img/prysm.png',
		Link: 'https://sychonix.com/testnet/prysm',
    Link2: '#',
  },
	{
		title: 'Symphony',
		description:
			'testnet',
      icon: '/img/sym.jpeg',
		Link: 'https://sychonix.com/testnet/symphony',
    Link2: 'https://explorer.sychonix.com/symphony-testnet/staking/symphonyvaloper1v8w8gmc4zahffmkdq3r8ha7nrptuhpcmfss84r',
  },
{
		title: 'Tanssi',
		description:
			'testnet',
      icon: '/img/tanssi.jpg',
		Link: 'https://sychonix.com/testnet/tanssi',
    Link2: 'https://telemetry.polkadot.io/#list/0x27aafd88e5921f5d5c6aebcd728dacbbf5c2a37f63e2eda301f8e0def01c43ea',
  },
  {
		title: 'T3rn',
		description:
			'testnet',
      icon: '/img/tern.png',
		Link: 'https://sychonix.com/testnet/t3rn',
    Link2: '',
  },
  {
		title: 'Viper',
		description:
			'testnet',
      icon: '/img/viper.jpg',
		Link: 'https://sychonix.com/testnet/viper',
    Link2: '#',
  },
];
---

<section class="scroll-mt-16" id="networks">
  <div class="absolute inset-0 bg-primary-50 dark:bg-slate-800 pointer-events-none mb-32" aria-hidden="true"></div>
  <div class="relative max-w-6xl mx-auto px-10 sm:px-20 py-15 my-15">
    <div class="py-4 pt-8 sm:py-6 lg:py-8 lg:pt-12">
      <div class="flex flex-col lg:flex-row justify-between items-center mb-8">
        <h2 class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter font-heading text-slate-300 mb-4 lg:mb-0 lg:mr-4">
          Networks
        </h2>
        <div class="category-wrapper"> <!-- Tambahkan wrapper di sini -->
          <button class="btn-category active" data-category="all">All</button>
          <button class="btn-category" data-category="mainnet">Mainnet</button>
          <button class="btn-category" data-category="testnet">Testnet</button>
        </div>
      </div>
      <div class="grid gap-2 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 items-start my-12 dark:text-white">
        {items.map(({ title, icon, description, Link, Link2 }) => (
          <div class={`card network-card ${description}`}>
            <div class="flex p-4">
              <div class="icon-container w-12 h-12 rounded-full overflow-hidden bg-white flex-shrink-0">
                <img src={icon} alt={title} class="w-full h-full object-cover"/>
              </div>
              <div class="ml-4 text-left">
                <h3 class="title text-sm font-semibold text-white">{title}</h3>
                <!-- <p class="description text-xs text-gray-400">{description}</p> --> <!-- Komentar deskripsi di sini -->
              </div>
            </div>
            <div class="flex justify-between mt-auto p-4">
              <a href={Link2} target="_blank" class="btn-explorer flex-1 mx-1 px-3 py-1 bg-blue-500 text-white rounded-xl hover:bg-blue-700 text-xs">Explorer</a>
              <a href={Link} class="btn-service flex-1 mx-1 px-3 py-1 bg-gray-700 text-white rounded-xl hover:bg-gray-900 text-xs">Service</a>
            </div>
          </div>
        ))}
      </div>
    </div>
  </div>
</section>


<script>
document.addEventListener('DOMContentLoaded', function () {
  const buttons = document.querySelectorAll('.btn-category');
  const cards = document.querySelectorAll('.network-card'); // Pastikan kartu jaringan diidentifikasi dengan class "network-card"

  buttons.forEach(button => {
    button.addEventListener('click', () => {
      // Ubah tombol kategori yang aktif
      buttons.forEach(btn => btn.classList.remove('active'));
      button.classList.add('active');

      // Dapatkan kategori yang dipilih
      const category = button.getAttribute('data-category');

      // Filter kartu berdasarkan kategori
      cards.forEach(card => {
        // Tambahkan console.log untuk debugging
        console.log('Card description:', card.classList.contains(category), category);

        if (category === 'all' || card.classList.contains(category)) {
          card.style.display = 'block'; // Tampilkan kartu
        } else {
          card.style.display = 'none';  // Sembunyikan kartu
        }
      });
    });
  });

  // Pilih kategori default "all" saat halaman dimuat
  document.querySelector('.btn-category[data-category="all"]').click();
});



</script>

<style>
    #features2 {
    background-image: url('/bekgronport.jpg');
    position: relative;
    color: white; /* Warna teks putih untuk kontras */
  }
    .section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Media Query untuk Desktop */
@media (min-width: 768px) {
  .section-header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .section-header h2 {
    margin-right: 1rem;
  }
}

  .card {
    background-color: rgb(15 23 42);
    border-radius: 1.5rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid rgb(13, 114, 255);
    overflow: hidden;
    transition: transform 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
    text-align: center;
    width: 300px; /* Perkecil ukuran kartu */
    padding-bottom: 10px; /* Tambahkan padding bawah untuk ruang tambahan */
    margin-bottom: 4px; /* Tambahkan margin bawah untuk jarak antar card */
}
.card.container {
  display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Mengatur grid agar responsif */
    gap: 16px; /* Mengatur jarak antar kartu */
    padding: 0 16px; /* Mengurangi padding pada sisi kiri dan kanan */
}

.card:hover {
    background-color: rgba(13, 114, 255, 0.219);
    border-color: rgb(13, 114, 255);
    transform: translateY(-0.5rem);
  }
  
  .card .flex {
  display: flex;
  align-items: center; /* Menyelaraskan ikon dan judul secara vertikal */
  padding: 20px; /* Ruang di sekitar konten */
}

  .icon-container {
    border-radius: 50%;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    overflow: hidden;
}
.title {
    font-size: 17px;
    font-weight: 600;
    margin: 10px 0;
    margin-left: -8px;
  }
.btn-explorer,
.btn-service {
    border-radius: 0.5rem;
    padding: 6px 10px; /* Sesuaikan padding untuk memperkecil ukuran tombol */
    font-size: 12px;
    margin-top: -11px; /* Naikkan posisi tombol */
    transition: background-color 0.3s ease;
}

.btn-explorer {
    background-color: #2563eb;
}

.btn-service {
    background-color: #374151;
}

.btn-explorer:hover {
    background-color: #1d4ed8;
}

.btn-service:hover {
    background-color: #1f2937;
}

/* Mengatur wrapper untuk border di sekitar tombol kategori */
.btn-category {
  padding: 8px 16px;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
}
/* Style untuk tombol kategori */
.category-wrapper {
  display: flex;
  border: 1px solid #2563eb;
  border-radius: 5rem;
  padding: 1px;
  background-color: transparent;
  overflow: hidden;
  transition: border-color 0.3s ease;
}

.category-wrapper:hover {
  border-color: #1e40af;
}

/* Hapus background color hover di tombol kategori */
.btn-category:hover {
  background-color: transparent;
}

/* Style untuk kategori yang aktif */
.btn-category.active {
  background-color: rgba(13, 114, 255, 0.219); /* Background biru saat kategori aktif */
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Media Query untuk Mobile */
@media (max-width: 767px) {
  .grid {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center cards horizontally */
  }

  .card {
    width: 100%; /* Set card width to 100% of its container */
    max-width: 300px; /* Ensure cards do not get too wide */
    margin: 8px 0; /* Add vertical margin for spacing */
  }
}
</style>
