---
import { SITE } from '~/config.mjs';
import { getCanonical, getHomePermalink } from '~/utils/permalinks';
import Layout from '~/layouts/PageLayout.astro';
import { Icon } from 'astro-icon';

const meta = {
  title: SITE.title,
  description: SITE.description,
  canonical: getCanonical(getHomePermalink()),
};

const items = [
{
  title: 'Self Chain', 
		description:
			'mainnet', 
		icon: 'selfchain',
		Link: 'https://service.sychonix.com/mainnet/selfchain',
    Link2: 'https://explorer.sychonix.com/selfchain-mainnet/staking/selfvaloper1sfnk4yqsvkpta82lfcfyas9txvv2lafdd5s6nv',
	},
  {
		title: 'Tangle Network',
		description:
			'mainnet',
		icon: 'tangle',
		Link: 'https://service.sychonix.com/mainnet/tangle',
    Link2: 'https://polkadot.js.org/apps/?rpc=wss://rpc.tangle.tools#/staking',
	},
  {
		title: 'Crossfi',
		description:
			'mainnet',
		icon: 'crossfi',
		Link: 'https://service.sychonix.com/mainnet/crossfi',
    Link2: 'https://explorer.sychonix.com/crossfi-mainnet/staking/mxvaloper1lf8unxkwj4qwsyhrp3qceexrm9heyh9gxllf6r',
	},
	{
		title: 'Avail',
		description:
			'testnet',
		icon: 'avail',
		Link: 'https://service.sychonix.com/testnet/avail',
    Link2: 'https://goldberg.avail.tools/#/staking',
  },
{
		title: 'Airchains',
		description:
			'testnet',
		icon: 'airchains',
		Link: 'https://service.sychonix.com/testnet/airchains',
    Link2: 'https://explorer.sychonix.com/airchains-testnet/staking/airvaloper1skxhd8y72faq4r99x8362ftum39hlaam2nc3gg',
    Link2: 'https://explorer.sychonix.com/airchains-testnet/staking/airvaloper1skxhd8y72faq4r99x8362ftum39hlaam2nc3gg',
  },
  {
		title: 'Chainflip',
		description:
			'testnet',
		icon: 'chainflip',
		Link: 'https://service.sychonix.com/testnet/chainflip/installation',
    Link2: 'https://blocks-perseverance.chainflip.io/validators/cFK3qrx1LJ1MdYNN3ogZTWbA2wkE9UAAUEoqyjMmd5Q9a1DLH',
  },
{
		title: 'Crossfi',
		description:
			'testnet',
		icon: 'crossfi',
		Link: 'https://service.sychonix.com/testnet/crossfi',
    Link2: 'https://explorer.sychonix.com/crossfi-testnet/staking/mxvaloper1rcr790l87p764ujj7qzcvxnnfru5rwf2fdd0td',
  },
  {
		title: 'Chasm',
		description:
			'testnet',
		icon: 'chasm',
		Link: 'https://service.sychonix.com/testnet/chasm',
    Link2: '#',
  },
  {
		title: 'Dill',
		description:
			'testnet',
		icon: 'dill',
		Link: 'https://service.sychonix.com/testnet/dill',
    Link2: 'https://andes.dill.xyz/validators?p=33&ps=25&pubkey=0x80ca6ea4e7d278049932bd53d61561e7838e109d24624f0bfca3a212e95106c486a3981b72a1da6f0125e653adc39c7c',
  },
	{
		title: 'Empeiria',
		description:
			'testnet',
		icon: 'emped',
		Link: 'https://service.sychonix.com/testnet/empeiria',
    Link2: 'https://explorer.sychonix.com/empeiria-testnet/staking/empevaloper1g7u2rvuff7lx73eahtr2qsvngv6ptp2hedw2tt',
  },
	{
		title: 'fiamma',
		description:
			'testnet',
		icon: 'fiamma',
		Link: 'https://service.sychonix.com/testnet/fiamma',
    Link2: 'https://explorer.sychonix.com/fiamma-testnet/staking/fiammavaloper1rphrcstwchww45hgh24ld2nqlxdt20tzpu6hdx',
  },
	{
		title: 'GaiaNet',
		description:
			'testnet',
		icon: 'gaianet',
		Link: 'https://service.sychonix.com/testnet/gaianet',
    Link2: '#',
  },
{
		title: 'Initia',
		description:
			'testnet',
		icon: 'initia',
		Link: 'https://service.sychonix.com/testnet/initia',
    Link2: '#',
  },
	{
		title: 'Nubit',
		description:
			'testnet',
		icon: 'nubit',
		Link: 'https://service.sychonix.com/testnet/nubit',
    Link2: '#',
  },
	{
		title: 'Symphony',
		description:
			'testnet',
		icon: 'sym',
		Link: 'https://service.sychonix.com/testnet/symphony',
    Link2: 'https://explorer.sychonix.com/symphony-testnet/staking/symphonyvaloper1v8w8gmc4zahffmkdq3r8ha7nrptuhpcmfss84r',
  },
{
		title: 'Tanssi',
		description:
			'testnet',
		icon: 'tanssi',
		Link: 'https://service.sychonix.com/testnet/tanssi',
    Link2: 'https://telemetry.polkadot.io/#list/0x27aafd88e5921f5d5c6aebcd728dacbbf5c2a37f63e2eda301f8e0def01c43ea',
  },
  {
		title: 'Viper',
		description:
			'testnet',
		icon: 'viper',
		Link: 'https://service.sychonix.com/testnet/viper',
    Link2: '#',
  },
  {
		title: 'Warden Protocol',
		description:
			'testnet',
		icon: 'warden',
		Link: 'https://service.sychonix.com/testnet/warden',
    Link2: 'https://explorer.sychonix.com/warden-testnet/staking/wardenvaloper1v0uldcx995fupcwdh6l3r32ukzww0htudr3hjf',
  },
  {
		title: 'Artela',
		description:
			'archive',
		icon: 'artela',
		Link: 'https://service.sychonix.com/archive/artela',
  },
	{
		title: 'Archway',
		description:
			'archive',
		icon: 'archway',
		Link: 'https://service.sychonix.com/archive/archway',
	},
{
		title: 'Andromeda',
		description:
			'archive',
		icon: 'andromeda',
		Link: 'https://service.sychonix.com/archive/andromeda',
	},
{
		title: 'Bonus Block',
		description:
			'archive',
		icon: 'bonus',
		Link: 'https://service.sychonix.com/archive/bonus-block',
	},
	{
		title: 'Blockxnet',
		description:
			'archive',
		icon: 'blockx',
		Link: 'https://service.sychonix.com/archive/blockxnet',
	},
{
		title: 'Composable',
		description:
			'archive',
		icon: 'composable',
		Link: 'https://service.sychonix.com/archive/composable',
	},
{
		title: 'Cascadia',
		description:
			'archive',
		icon: 'cascadia',
		Link: 'https://service.sychonix.com/archive/cascadia',
	},
{
		title: 'Dymension',
		description:
			'archive',
		icon: 'dymension',
		Link: 'https://service.sychonix.com/archive/dymension',
	},
{
		title: 'Entangle',
		description:
			'archive',
		icon: 'entangle',
		Link: 'https://service.sychonix.com/archive/entangle',
	},
{
		title: 'Empower',
		description:
			'archive',
		icon: 'empower',
		Link: 'https://service.sychonix.com/archive/empower',
	},
{
		title: 'Elys',
		description:
			'archive',
		icon: 'elys',
		Link: 'https://service.sychonix.com/archive/elys',
	},
  {
		title: 'Elixir',
		description:
			'archive',
		icon: 'elixir',
		Link: 'https://service.sychonix.com/archive/elixir/installation',
	},
{
		title: 'Impact Protocol',
		description:
			'archive',
		icon: 'impact',
		Link: 'https://service.sychonix.com/archive/impact/installation',
	},
	{
		title: 'Nibiru',
		description:
			'archive',
		icon: 'nibiru',
		Link: 'https://service.sychonix.com/archive/nibiru',
  },
{
		title: 'Ojo',
		description:
			'archive',
		icon: 'ojo',
		Link: 'https://service.sychonix.com/archive/ojo',
	},
	{
		title: 'Pryzm',
		description:
			'archive',
		icon: 'pryzm',
		Link: 'https://service.sychonix.com/archive/pryzm/installation',
  },
	{
		title: 'Tangle',
		description:
			'archive',
		icon: 'tangle',
		Link: 'https://service.sychonix.com/archive/tangle',
	},
{
		title: 'Side Protocol',
		description:
			'archive',
		icon: 'side',
		Link: 'https://service.sychonix.com/archive/side',
	},
{
		title: 'Selfchain',
		description:
			'archive',
		icon: 'selfchain',
		Link: 'https://service.sychonix.com/archive/selfchain',
	},
  {
		title: 'Wormholes',
		description:
			'archive',
		icon: 'wormholes',
		Link: 'https://service.sychonix.com/archive/wormholes/installation',
  },
];
---

<Layout {meta}>
  <section class="scroll-mt-16" id="networks">
    <div class="absolute inset-0 bg-primary-50 dark:bg-slate-800 pointer-events-none mb-32" aria-hidden="true"></div>
    <div class="relative max-w-6xl mx-auto px-10 sm:px-20 py-15 my-15">
      <div class="py-4 pt-8 sm:py-6 lg:py-8 lg:pt-12">
        <div class="flex flex-col lg:flex-row justify-between items-center mb-8">
          <h2 class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter font-heading text-slate-300 mb-4 lg:mb-0 lg:mr-4 mt-8">
            Networks
          </h2>
        </div>
        
<!-- Mainnet Section -->
<h3 class="text-2xl font-semibold mt-2 mb-2 text-center">Mainnet</h3>
<div class="grid gap-4 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 items-start my-6 dark:text-white">
  {items.filter(({ description }) => description === 'mainnet').map(({ title, icon, description, Link, Link2 }) => (
    <div class="card network-card mainnet">
      <div class="flex p-4">
        <div class="icon-container w-12 h-12 rounded-full overflow-hidden bg-white flex-shrink-0">
          <Icon name={icon} class="w-full h-full object-cover" />
        </div>
        <div class="ml-4 text-left">
          <h3 class="title text-sm font-semibold text-white">{title}</h3>
        </div>
      </div>
      <div class="flex justify-between mt-auto p-4">
        <a href={Link2} target="_blank" class="btn-explorer flex-1 mx-1 px-3 py-1 bg-blue-500 text-white rounded-xl hover:bg-blue-700 text-xs">Explorer</a>
        <a href={Link} class="btn-service flex-1 mx-1 px-3 py-1 bg-gray-700 text-white rounded-xl hover:bg-gray-900 text-xs">Service</a>
      </div>
    </div>
  ))}
</div>

        
        <!-- Testnet Cards -->
        <h3 class="text-2xl font-semibold mt-2 mb-2 text-center">Testnet</h3>
        <div class="grid gap-4 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 items-start my-6 dark:text-white">
          {items.filter(({ description }) => description === 'testnet').map(({ title, icon, description, Link, Link2 }) => (
            <div class="card network-card testnet">
              <div class="flex p-4">
                <div class="icon-container w-12 h-12 rounded-full overflow-hidden bg-white flex-shrink-0">
                  <Icon name={icon} class="w-full h-full object-cover" />
                </div>
                <div class="ml-4 text-left">
                  <h3 class="title text-sm font-semibold text-white">{title}</h3>
                </div>
              </div>
              <div class="flex justify-between mt-auto p-4">
                <a href={Link2} target="_blank" class="btn-explorer flex-1 mx-1 px-3 py-1 bg-blue-500 text-white rounded-xl hover:bg-blue-700 text-xs">Explorer</a>
                <a href={Link} class="btn-service flex-1 mx-1 px-3 py-1 bg-gray-700 text-white rounded-xl hover:bg-gray-900 text-xs">Service</a>
              </div>
            </div>
          ))}
        </div>

        <!-- Archive Cards -->
        <h3 class="text-2xl font-semibold mt-2 mb-2 text-center">Archive</h3>
        <div class="grid gap-4 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 items-start my-6 dark:text-white">
          {items.filter(({ description }) => description === 'archive').map(({ title, icon, description, Link, Link2 }) => (
            <div class="card network-card archive">
              <div class="flex p-4">
                <div class="icon-container w-12 h-12 rounded-full overflow-hidden bg-white flex-shrink-0">
                  <Icon name={icon} class="w-full h-full object-cover" />
                </div>
                <div class="ml-4 text-left">
                  <h3 class="title text-sm font-semibold text-white">{title}</h3>
                </div>
              </div>
              <div class="flex justify-between mt-auto p-4">
                <a href={Link2} target="_blank" class="btn-explorer flex-1 mx-1 px-3 py-1 bg-blue-500 text-white rounded-xl hover:bg-blue-700 text-xs">Explorer</a>
                <a href={Link} class="btn-service flex-1 mx-1 px-3 py-1 bg-gray-700 text-white rounded-xl hover:bg-gray-900 text-xs">Service</a>
              </div>
            </div>
          ))}
        </div>
      </div>
    </div>
  </section>
  
  <style>
    #features2 {
      background-image: url('/bekgronport.jpg');
      position: relative;
      color: white;
    }
  
    .card {
      background-color: rgb(15 23 42);
      border-radius: 1.5rem;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
      border: 1px solid rgb(13, 114, 255);
      overflow: hidden;
      transition: transform 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
      text-align: center;
      width: 300px;
      padding-bottom: 10px;
      margin-bottom: 4px;
    }
  
    .card:hover {
      background-color: rgba(13, 114, 255, 0.219);
      border-color: rgb(13, 114, 255);
      transform: translateY(-0.5rem);
    }
  
    .card .flex {
      display: flex;
      align-items: center;
      padding: 20px;
    }
  
    .icon-container {
      border-radius: 50%;
      background-color: #000000;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 60px;
      width: 60px;
      overflow: hidden;
    }
    h3 {
  text-align: center;
  margin-top: 2rem; /* Sesuaikan nilai ini untuk jarak yang diinginkan dari atas */
  margin-bottom: 2rem; /* Kurangi nilai ini untuk menurunkan jarak ke card */
}

    .title {
      font-size: 17px;
      font-weight: 600;
      margin: 10px 0;
      margin-left: -8px;
    }
  
    .btn-explorer,
    .btn-service {
      border-radius: 0.5rem;
      padding: 6px 10px;
      font-size: 12px;
      margin-top: -11px;
      transition: background-color 0.3s ease;
    }
  
    .btn-explorer {
      background-color: #2563eb;
    }
  
    .btn-service {
      background-color: #374151;
    }
  
    .btn-explorer:hover {
      background-color: #1d4ed8;
    }
  
    .btn-service:hover {
      background-color: #1f2937;
    }
  </style>
</Layout>
